<footer class="page-footer font-small bg-secondary pt-4">
    <div class="contaier">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h4 class="text-white">Siga-nos nas redes sociais</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <ul class="icone-rede-social">

                    <li>
                        <a class="m" href="https://www.linkedin.com/in/charlesamorimdev/" target="_blank"> 
                            <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                        </a>       
                    </li>

                    <li class=".fs-35-white-p10">
                        <a href="https://github.com/CharlesAmorimDev" target="_blank">
                            <i class="fa fa-github" aria-hidden="true"></i>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </div>

    <div class="footer-copyright bg-dark text-center py-3">
        <span class="text-light"> &copy;2022 Charles Amorim & </span>
        <a class="text-light" target="_blank" href="https://brazil.generation.org/">Generation Brasil</a>
    </div>

</footer>