#bg-image{
    background-image: url(https://st2.depositphotos.com/6544740/9337/i/600/depositphotos_93376372-stock-photo-sunset-over-sea-pier.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 695px;

}